body{
	font-family:sans-serif;
}

body::-webkit-scrollbar{
	display: none;
}
::selection {
  background: #eef4ff;
  color: #7a7a7a !important;
}
.snowSport_container {
	border-radius: 40px;
	width: 95vw;
	margin-left: 23px;
	height: 820px;
	overflow-y: hidden;
	background: url(../images/bg3.png) center center no-repeat;
	background-size: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.card3 {
	width: 18vw;
	height: 100px;
	margin-top: 40px;
}

.card3 ul{
	list-style: none;
	text-align: center;
	padding: 0px;
}

.card3 li{
	font-size: 16px;
	height: 25px;
	background-color: #5692e5;
	box-shadow: 0 0 4px #ababab;
	color: #ffffff;
	border-radius: 10px;
	padding: 5px;
	margin: 10px 0;
	font-weight: 700;
	-webkit-animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card3 li:hover{
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
	0% {
	-webkit-transform: scale(1);
	transform: scale(1);
	}
	100% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	}
}

@keyframes scale-down-center {
	0% {
	 -webkit-transform: scale(1.1);
	 transform: scale(1.1);
	}
	100% {
	 -webkit-transform: scale(1);
	 transform: scale(1);
	}
}

.card_box{
	height: 350px;
	margin-top:60px;
}

.card5 {
	width: 18vw;
	height: 10vw;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.212);
	background: #f3f8ff;
	display: flex;
	border-radius: 20px;
	margin-top:20px;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all .4s;
	float:left;
	-webkit-animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card5_text{
	margin:16px;
	font-size:16px;
	color:#707070;
}
.card5::before {
 content: '   ———《奥林匹克宪章》';
 position: absolute;
 bottom: 8px;
 left: 20px;
 color: rgb(76, 76, 76);
 font-size: 1em;
 font-weight: 700;
}

.card5 div {
 width: 100%;
 height: 100%;
 border-radius: 20px;
 box-shadow: 0 0 4px rgba(0, 0, 0, 0.212);
 cursor: pointer;
 z-index: 10;
 transition: all .4s;
 background-color: #f6f6f6;
}

.card5:hover div {
 transform: translateY(-35px);
 background: #f6f6f6;
 }

.item_box{
	height: 130px;
	position: relative;
	display: inline;
}

.snowSport_container_1 {
	display: flex;
	width: 88vw;
	align-items: center;
	justify-content: space-between;
}

#main_of_womenInWinterOlympics {
	margin-top: 8vh;
	overflow: hidden;
}

/* 返回主页和查看更多的按钮 */
button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	margin-top: 10px;
	font-size: inherit;
	font-family: inherit;
}

button.return {
	width: 12rem;
	height: auto;
}

button.return .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
}

button.return .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.return .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.return .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.return .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

button:hover .circle {
	width: 100%;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button:hover .button-text {
	color: #fff;
}

/* 标题 */
.top img{
	position: absolute;
	top: 0;
	left:52vw;
	height: 180px;
	-webkit-animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*切换页面*/
.page{
	width: 45px;
	height: 800px;
	margin-top: 20px;
	float: right;
	position: flex;
	flex-direction: column;
}

.page1{
	text-align:center;
	margin-top: 12px;
	width: 45px;
	background: linear-gradient(-45deg, #cfc8f5, #7bafe2);
	border-radius: 0 20px 20px 0;
	float:left
}

.page2{
	text-align:center;
	margin-top: 12px;
	width: 45px;
	background-color:#f6f6f6;
	border-radius: 0 20px 20px 0;
	float:left
}

.page1:hover{
	box-shadow:  7px 7px 7px #ddd9f8,
	             -5px -5px 5px #c8ddf2;
}

.main_page{
	height:800px;
	orientation: horizontal;
	display:flex
}

.textStyle{
	margin-top: -3vw;
	margin-left: 80px;
	font-size: 33px;
	font-weight: 600;
	color: #3f73e5;
	font-weight:550;
}

.textStyle1{
	margin-top: -5vw;
	margin-left: 80px;
	font-size: 30px;
	font-weight: 800;
	color: #5692e5;
}

/* 轮播图 */
.swiper-list{
	height: 21vw;
	position: relative;
	/* overflow: hidden; */
	margin-left: 90px;
	padding: 30px 0;
	margin-top:-70px;
}
.swiper-main{
	height: 90%;
	position: relative;
}
	
.swiper-main-outer{
	overflow: hidden;
	height: 100%;
	overflow: hidden;
}
	
.swiper-main img{
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	border-radius: 30px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	z-index: 1002;
}
.leftBtn{
	left: -60px;
}
.rightBtn{
	right: -60px;
}