html {
	cursor:url(../images/cursor_default_2.png),pointer;
}

/* -------------------------------------------主体部分 ----------*/
@-webkit-keyframes aa {
	0% {left: -300px}
	50% {left: -200px}
	to {left: 0}
}
@keyframes aa {
	0% {left: -300px}
	50% {left: -200px}
	to {left: 0}
}

@-webkit-keyframes bb {
	0% {right: -300px}
	50% {right: -200px}
	to {right: 0}
}
@keyframes bb {
	0% {right: -300px}
	50% {right: -200px}
	to {right: 0}
}

@-webkit-keyframes cc {
	0% {-webkit-transform: translateX(-50%) translateY(-7%);transform:translateX(-50%) translateY(-7%)}
	to {-webkit-transform: translateX(-50%) translateY(-7%);transform:translateX(-50%) translateY(-7%)}
}
@keyframes cc {
	0% {-webkit-transform: translateX(-50%) translateY(-7%);transform:translateX(-50%) translateY(-7%)}
	to {-webkit-transform: translateX(-50%) translateY(-7%);transform:translateX(-50%) translateY(-7%)}
}

@-webkit-keyframes dd{
	0% {-webkit-transform: translateX(50%) translateY(-7%);transform:translateX(50%) translateY(-7%)}
	to {-webkit-transform: translateX(50%) translateY(-7%);transform:translateX(50%) translateY(-7%)}
}
@keyframes dd{
	0% {-webkit-transform: translateX(50%) translateY(-7%);transform: translateX(50%) translateY(-7%)}
	to {-webkit-transform: translateX(50%) translateY(-7%);transform: translateX(50%) translateY(-7%)}
}

@keyframes mymove
{
from {top:0px;}
50%{top:20px}
to {top:0px;}
}
 
@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {top:0px;}
50%{top:20px}
to {top:0px;}
}

@-webkit-keyframes slide-right {
	0% {
	  -webkit-transform: translateX(-300px);
			  transform: translateX(-300px);
	}
	100% {
	  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
  }
  @keyframes slide-right {
	0% {
	  -webkit-transform: translateX(-300px);
			  transform: translateX(-300px);
	}
	100% {
	  -webkit-transform: translateX(100px);
			  transform: translateX(100px);
	}
  }
  
  @-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }


#seven_item{
	margin-left: 1vw;
	margin-top: 1vh;
	height:35vw;
	width: 80vw;
}
.pick{
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 85vw;
	height: 22vw;
	display: flex;
	margin-top: -2vw;
}

.projectContainer{
	display: flex;
	flex-direction: row;
}

.project {
	position: relative;
	background-size: 100% 100%;
}
/* 鼠标放上去之后悬浮七大项的属性 */
.project-image {
	width: 230px;
	height: 355px;
	display: none;
	z-index: 900;
	position: absolute;
}
/* 滑出的资料卡 */
.description {
	width: 505px;
	height: 240px;
	position: absolute;
	z-index: 700;
	overflow: hidden;
	display: none;
}
.qiehuan {
	width: 460px;
	height: 230px;
	position: absolute;
	z-index: 800;
}
/* 后背淡化的图 */
.pick:hover .project:first-of-type {
	width: 160px; height: 240px;
	background-image: url(../images/雪车1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(2) {
	width: 160px; height: 240px;
	background-image: url(../images/冰壶1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(3) {
	width: 160px; height: 240px;
	background-image: url(../images/冰球1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(4) {
	width: 160px; height: 240px;
	background-image: url(../images/冬季两项1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(5) {
	width: 160px; height: 240px;
	background-image: url(../images/雪橇1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(6) {
	width: 160px; height: 240px;
	background-image: url(../images/滑冰1.png);
	background-color: transparent;
}
.pick:hover .project:nth-of-type(7) {
	width: 160px; height: 240px;
	background-image: url(../images/滑雪1.png);
	background-color: transparent;
}
/* 七张带背景色的卡片 */
.project:first-of-type {
	width: 160px; height: 240px;
	background-image: url(../images/雪车2.png);border-radius:15px 0 0 15px;background-color:#FDC353;}
.project:nth-of-type(2) {
	width: 160px; height: 240px;
	background-image: url(../images/冰壶2.png);/*border-radius:20px;*/background-color: #b3d8e0;}
.project:nth-of-type(3) {
	width: 160px; height: 240px;
	background-image: url(../images/冰球2.png);/*border-radius:20px;*/background-color: #dbb7a3;}
.project:nth-of-type(4) {
	width: 160px; height: 240px;
	background-image: url(../images/冬季两项2.png);/*border-radius:20px;*/background-color:#d1d7dd;}
.project:nth-of-type(5) {
	width: 160px; height: 240px;
	background-image: url(../images/雪橇2.png);/*border-radius:20px;*/background-color: #FE8D6F;}
.project:nth-of-type(6) {
	width: 160px; height: 240px;
	background-image: url(../images/滑冰2.png);/*border-radius:20px;*/background-color: #ffe3d9;}
.project:nth-of-type(7) {
	width: 160px; height: 240px;
	background-image: url(../images/滑雪2.png);border-radius:0 15px 15px 0;background-color: #A0DDE0;}

/* 有背景颜色的png图片 */
.project:first-of-type .qiehuan,.project:nth-of-type(2) .qiehuan,.project:nth-of-type(3) .qiehuan {
position: absolute;
left: -33vw
}
.project:nth-of-type(4) .qiehuan,.project:nth-of-type(5) .qiehuan,.project:nth-of-type(6) .qiehuan,.project:nth-of-type(7) .qiehuan {
	position: absolute;
	right: -33vw
}
.project:first-of-type .qiehuan{
	background-color:#FDC353;
	border-radius: 15px;
}
.project:nth-of-type(2) .qiehuan{
	background-color:#b3d8e0;
	border-radius: 15px;
}
.project:nth-of-type(3) .qiehuan{
	background-color:#dbb7a3;
	border-radius: 15px;
}
.project:nth-of-type(4) .qiehuan{
	background-color:#d1d7dd;
	border-radius: 15px;
}
.project:nth-of-type(5) .qiehuan{
	background-color:#FE8D6F;
	border-radius: 15px;
}
.project:nth-of-type(6) .qiehuan{
	background-color:#ffc6b6;
	border-radius: 15px;
}
.project:nth-of-type(7) .qiehuan{
	background-color:#A0DDE0;
	border-radius: 15px;
}
.project:nth-of-type(4) .description,.project:nth-of-type(5) .description ,.project:nth-of-type(6) .description,.project:nth-of-type(7) .description  {
	right: 0vw
}

.project:hover .description,.project:hover .project-image{
	display: block;
}

.project:hover:first-of-type .qiehuan,.project:hover:nth-of-type(2) .qiehuan,.project:hover:nth-of-type(3) .qiehuan{
	-webkit-animation:   aa .3s linear;
	animation:   aa .3s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: .1s;
	animation-delay: .1s
}
.project:hover:nth-of-type(4)  .qiehuan,
.project:hover:nth-of-type(5)  .qiehuan,
.project:hover:nth-of-type(6)  .qiehuan,
.project:hover:nth-of-type(7)  .qiehuan{
	-webkit-animation:   bb .3s linear;
	animation:   bb .3s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: .1s;
	animation-delay: .1s
}
/* 左边三张的卡片推出 */
.project:hover:first-of-type .project-image,
.project:hover:nth-of-type(2) .project-image,
.project:hover:nth-of-type(3) .project-image {
	-webkit-animation:cc .5s linear;
	animation:cc .1s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}
/* 右边四张的卡片推出 */
.project:hover:nth-of-type(4) .project-image,.project:hover:nth-of-type(5) .project-image,
.project:hover:nth-of-type(6) .project-image,.project:hover:nth-of-type(7) .project-image {
	-webkit-animation: dd .5s linear;
	animation: dd .1s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

.nbsp2{
	width: 1100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.biaoqian1{
	background: linear-gradient(-45deg, #8edcff, #dbe5ff, #d0baef, #d2fdff);
	background-size: 745% 335%;
	margin-top: -3vw;
	padding: 0.4vw 1vw;
	display: inline-block;
	border-radius:1vw;
	font-size: 1.2rem;
	font-weight: 550;
	color: #ffffff;
	transition: all .5s ease-in-out;
	animation: gradient 5s infinite;
   }
   
.biaoqian1:hover {
	animation: gradient 1.5s infinite;
	transform: scale(1.3);
	color:#4f569e;
}

@keyframes gradient {
	0% {background-position: 0% 50%; }
	50% {background-position: 100% 50%;}
	100% { background-position: 0% 50%;}
   }

@-webkit-keyframes prev_in {
	0% {transform: translate3d(0, -100%, 0)}
	100% {transform: translate3d(0, 0, 0)}
}
@keyframes prev_in  {
	0% {transform: translate3d(0, -100%, 0)}
	100% {transform: translate3d(0, 0, 0)}
}

@-webkit-keyframes next_in {
	0% {transform: translate3d(0, 100%, 0)}
	100% {transform: translate3d(0, 0, 0)}
}
@keyframes next_in {
	0% {transform: translate3d(0, 100%, 0)}
	100% {transform: translate3d(0, 0, 0)}
}

.gallery {
	position: relative;
	background-color: inherit;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%
}

.gallery .item {
	position: relative;
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent
}

.gallery .item::before,.gallery picture {
	z-index: 1;
	overflow: hidden;
	-webkit-animation-duration: 600ms;
	animation-duration: 600ms;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

.gallery.item.display::before,.gallery .item.display picture {
	z-index: 2
}

.prev.item.display::before,.prev .item.display picture {
	-webkit-animation-name: prev_in;
	animation-name: prev_in
}
.next .item.display::before,.next .item.display picture {
	-webkit-animation-name: next_in;
	animation-name: next_in
}

.gallery picture:first-child {
	background-color: currentColor;
}

.gallery.full .caption {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.2em;
	color: #393939;
}

.gallery .item.display .caption {
	z-index: 200;
	opacity: 1;
	transition: opacity 200ms 600ms;
}

.load {
	z-index: 1;
	position: absolute;
	width: var(--load, 0);
	height: 4px;
	pointer-events: none;
	transition: width 200ms;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	color: #0a0a0a;
}

html.page_index body {
	background-color: #e2e2e2;
	color: #fff
}

html.page_index .gallery picture img{
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.gallery .position {
	z-index: 7;
	position: absolute;
	bottom: 65%;
	right: 15px;
	transform: translateY(50%);
	display: flex;
	flex-direction: column;
	padding: 10.5px 21px;
}

.gallery .position a {
	position: relative;
	display: block;
	width: 45px;
	height: 45px;
	margin: 8px 0;
	border-radius: 50%;
	pointer-events: all;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor:url(../images/cursor_default_1.png),pointer;
	opacity: .35;
	transition: transform 800ms ease-out, opacity 400ms
}

/* 缓慢右边进入 */
html.status_init .gallery .position a {
	transform: translate3d(300%, 0, 0);
	opacity: 0
}
.gallery .position a:nth-child(1) {
	transition-delay: 400ms, 0s;
	background-color: #05c1d2;
}
.gallery .position a:nth-child(2) {
	transition-delay: 600ms, 0s;
	background-color: #ffa4a4;
}
.gallery .position a:hover,.gallery .position a.selected {
	opacity: 5;
}

/* 返回主页和查看更多的按钮 */
button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	margin-top: 10px;
	font-size: inherit;
	font-family: inherit;
}

button.return {
	width: 12rem;
	font-size: 16px;
	margin-left: 20px;
	padding: 0 0 100px;
}

button.return .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
}

button.return .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.return .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.return .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.return .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.7rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

button:hover .circle {
	width: 100%;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button:hover .button-text {
	color: #fff;
}

.largebox{
    width: 90vw; 
	height: 60vh;
}

.largebox2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.architecture{
	width: 40vw;
	height: 85vh;
}

.architecture img{
	width: 7vw;
	border-radius: 50%;
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.font-style{
	color: #5692e5;
	font-size: 21px;
	text-align: center;
}

#img1{
	background: white;
	border: 3px dashed #608ae4;
}

#test1{
	display: flex;
}

#test2,#test3,#test4,#test5,#test6,#test7,#test8,#test9,#test10,#test11,#test12,#test13{
	display: none;
}

.test{
	width: 28vw;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.685);
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.test img{
	border-radius: 15px;
	margin-top: 5vh;
	width: 70%;
}

.introText{
	margin-top: 0.5vh;
	font-weight: 550;
	line-height:24px;
	color: #444446;
	font-size:19px;
	width: 23vw;
}

.introTitle{
	margin-top:4vh;
	margin-bottom:1vh;
	font-weight: 600;
	color: #608ae4;
	font-size:33px;
}

.title1{
	margin-left: 16vw;
	height: 15vw;
	width: 30vw;
}

.title img{
	border-radius: 0px;
	height: 100%;
	width: 100%;
}

.title2{
	height: 15vw;
	width: 35vw;
}

.page2_top{
	position: absolute;
	top: 6vh;
	left: 17vw;
	display: flex;
}

.page2_top button{
	background-color: #e95a5a;
	color: #fff;
	font-weight:600;
	padding: 0 9px;
	cursor:url(../images/cursor_default_1.png),pointer;
}

#cover{
    width: 100vw;
    height: 100vw;
    background-color: #282936;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0px;
    left: 0vw;
}

#medals_1994_con{
    display: none;
    position: absolute;
    top: 8vw;
    left: 13vw;
    width: 75vw;
    height: 38vw;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.42);
    background-image: radial-gradient(circle,#c4dfff 15%,#edf9ff 35%,#edf9ff 50%);
    border-radius: 20px;
    overflow: visible;
}
.buttonX{
    position: relative;
    top: -35vw;
    left: 72vw;
    border:3px solid rgba(0,0,0,0.42);
    color: rgba(0,0,0,0.42);
    border-radius: 50%;
	font-size: 1rem;
    width: 2vw;
    height: 2vw;
	cursor:url(../images/cursor_default_1.png),pointer;
}

/* -----左上角sector部分 */
.tips {
	width: 702px;
	margin: 0 auto;
	line-height: 24px;
	padding-top: 10px;
}

.bredcolor {
	color: #fff;
}

.menuHolder {
	width: 100px;
	height: 100px;
	margin: 5px 0 250px -5px;
	position: relative;
	z-index: 0;
}

.menuHolder ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

.menuHolder ul li {
	border-radius: 0 0 300px 0;
	width: 0;
	height: 0;
}

.menuHolder ul li a {
	color: #ffffff;
	text-decoration: none;
	font: bold 13px/30px arial, sans-serif;
	text-align: center;
	box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.menuHolder ul.p1 li {
	position: absolute;
	left: 0;
	top: 0;
}

.menuHolder ul.p2 {
	z-index: -1;
}

.menuHolder ul.p3 {
	z-index: -1;
}

.menuHolder li.s1>a {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	font-size: 18px;
	background: #5383c3;
	border-radius: 0 0 100px 0;
}

.menuHolder li.s2>a {
	position: absolute;
	display: block;
	width: 100px;
	padding-left: 100px;
	height: 200px;
	background: #007bbb;
	border-radius: 0 0 200px 0;
}

.menuHolder ul.p3 li a {
	position: absolute;
	display: block;
	width: 100px;
	padding-left: 200px;
	height: 300px;
	background: #b9dee3;
	border-radius: 0 0 300px 0;
}

.menuHolder ul ul {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotateZ(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.menuHolder li.s2:nth-of-type(7)>a {
	background: #a0d8ef;
	-webkit-transform: rotate(77.1deg);
	-moz-transform: rotateZ(77.1deg);
	-ms-transform: rotate(77.1deg);
	-o-transform: rotate(77.1deg);
	transform: rotate(77.1deg);
}
.menuHolder li.s2:nth-of-type(6)>a {
	background: #89c3eb;
	-webkit-transform: rotate(64.25deg);
	-moz-transform: rotateZ(64.25deg);
	-ms-transform: rotate(64.25deg);
	-o-transform: rotate(64.25deg);
	transform: rotate(64.25deg);
}

.menuHolder li.s2:nth-of-type(5)>a {
	background: #2ca9e1;
	-webkit-transform: rotate(51.4deg);
	-moz-transform: rotateZ(51.4deg);
	-ms-transform: rotate(51.4deg);
	-o-transform: rotate(51.4deg);
	transform: rotate(51.4deg);
}

.menuHolder li.s2:nth-of-type(4)>a {
	background: #38a1db;
	-webkit-transform: rotate(38.55deg);
	-moz-transform: rotateZ(38.55deg);
	-ms-transform: rotate(38.55deg);
	-o-transform: rotate(38.55deg);
	transform: rotate(38.55deg);
}

.menuHolder li.s2:nth-of-type(3)>a {
	background: #0095d9;
	-webkit-transform: rotate(25.7deg);
	-moz-transform: rotateZ(25.7deg);
	-ms-transform: rotate(25.7deg);
	-o-transform: rotate(25.7deg);
	transform: rotate(25.7deg);
}

.menuHolder li.s2:nth-of-type(2)>a {
	background: #0094c8;
	-webkit-transform: rotate(12.85deg);
	-moz-transform: rotateZ(12.85deg);
	-ms-transform: rotate(12.85deg);
	-o-transform: rotate(12.85deg);
	transform: rotate(12.85deg);
}

.menuHolder .a6 li:nth-of-type(6)>a {
	background: #79a7cd;
	-webkit-transform: rotate(75deg);
	-moz-transform: rotateZ(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
}

.menuHolder .a6 li:nth-of-type(5)>a {
	background: #70aace;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotateZ(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.menuHolder .a6 li:nth-of-type(4)>a {
	background: #66a9c9;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menuHolder .a6 li:nth-of-type(3)>a {
	background: #8ecce2;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotateZ(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

.menuHolder .a6 li:nth-of-type(2)>a {
	background: #9ed1da;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotateZ(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.menuHolder .a3 li:nth-of-type(3)>a {
	background: #8ecce2;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotateZ(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.menuHolder .a3 li:nth-of-type(2)>a {
	background: #9ed1da;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotateZ(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

.menuHolder li.s1:hover ul.p2 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.menuHolder li.s2:hover ul.p3 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.menuHolder ul li:hover>a {
	background: #11659a;
	color: #fff;
}

.menuHolder li.s2:hover>a {
	background: #477ec7;
	color: #fff;
}

.menuHolder .a6 li:hover>a {
	background: #477ec7;
	color: #fff;
}

.menuHolder .a3 li:hover>a {
	background: #477ec7;
	color: #fff;
}



.menuWindow {
	width: 110px;
	height: 110px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	-webkit-transition: 0s 1s;
	-moz-transition: 0s 1s;
	-ms-transition: 0s 1s;
	-o-transition: 0s 1s;
	transition: 0s 1s;
}

.menuHolder:hover .menuWindow {
	width: 310px;
	height: 310px;
	-webkit-transition: 0s 0s;
	-moz-transition: 0s 0s;
	-ms-transition: 0s 0s;
	-o-transition: 0s 0s;
	transition: 0s 0s;
}

.menuHolder span {
	display: block;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotateZ(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);
}

.menuHolder~img.close {
	width: 0;
	height: 0;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
}

.menuHolder:hover~img.close {
	width: 100%;
	height: 100%;
}