body{
	font-family:sans-serif;
	overflow-x: scroll;
	overflow-y: scroll;
}

body::-webkit-scrollbar{
	display: none;
}

@keyframes heart{
  from {transform:translate(0,0) }
  to {transform:translate(0,15px)}/* 下浮高度 */
}

.homeBackground{
  position: absolute;
	margin-top:14vh;
	margin-left:40px;
	width:95vw;
  height: 50vw;
}

.snow1{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../images/snowImg1.png),url(../images/snowImg2.png),url(../images/snowImg3.png),
                    url(../images/snowImg1.png),url(../images/snowImg2.png),url(../images/snowImg3.png),
                    url(../images/snowImg3.png),url(../images/snowImg1.png),url(../images/snowImg2.png);
  background-size: 60px 60px;
  animation: snow1 30s linear infinite;
  background-repeat:no-repeat;
}
.snow2{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../images/snowImg1.png),url(../images/snowImg2.png),url(../images/snowImg3.png),
                    url(../images/snowImg1.png),url(../images/snowImg2.png),url(../images/snowImg3.png),
                    url(../images/snowImg3.png),url(../images/snowImg1.png),url(../images/snowImg2.png);
  background-size: 55px 55px;
  animation: snow2 30s linear infinite;
  -webkit-animation-delay:-15s;
  background-repeat:no-repeat;
}
@keyframes snow1 {
  0% {
      background-position: 1000px -50px, 200px -50px, 0px -550px, 
      1500px -550px, 1200px -550px,800px -50px,
      1800px -50px, 500px -50px, 800px -550px;
  }

  100% {
      background-position: 300px 1500px, 10px 950px, 950px 1800px;
  }
}
@keyframes snow2 {
  0% {
      background-position: 1000px -50px, 200px -50px, 0px -550px, 
      1500px -550px, 1200px -550px,800px -50px,
      1800px -50px, 500px -50px, 800px -550px;
  }

  100% {
      background-position: 300px 1500px, 10px 950px, 950px 1800px;
  }
}


.time_anima{
  width: 17.8vw;
  height: 17.8vw;
  position: absolute;
  top: 48vh;
  left: 46vw;
  animation: heart 1.4s ease-in-out infinite alternate;
}

.message_anima{
  width: 17.2vw;
  height: 17.2vw;
  position: absolute;
  top: 32vh;
  left: 32vw;
  animation: heart 1.4s ease-in-out infinite alternate;
}

.history_anima{
  width: 15.2vw;
  height: 16.5vw;
  position: absolute;
  top: 55vh;
  left: 35vw;
  animation: heart 1.4s ease-in-out infinite alternate;
}

.hot_anima{
  width: 13.2vw;
  height: 13.2vw;
  position: absolute;
  top: 40vh;
  left: 65vw;
  animation: heart 1.4s ease-in-out infinite alternate;
}

.msg{
  width: 9.2vw;
  height: 3.1vw;
  padding:3px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 600;
  opacity: 0;
  box-shadow: 0px 0px 5px  #3b3b3b;
  color: #fefefe;
  letter-spacing:1.2px;
  animation: heart 1.4s ease-in-out infinite alternate;
  transition: opacity 0.5s;
}

#timeMsg{
  position: absolute;
  top: 70vh;
  left: 62vw;
  background-image: linear-gradient(to right, #C2E9FB, #A1C4FD);
}

#messageMsg{
  position: absolute;
  top: 45vh;
  left: 23vw;
  background-image: linear-gradient(to right, #ffd3f3, #b4a1e0);
}

#historyMsg{
  position: absolute;
  top: 68vh;
  left: 26vw;
  background-image: linear-gradient(to right, #f0d5b7, #f09ede);
}

#hotMsg{
  position: absolute;
  top: 50vh;
  left: 78vw;
  background-image: linear-gradient(to right, #92e5eb, #f0d5b7);
}

.time_anima:hover ~#timeMsg, .message_anima:hover ~#messageMsg,
.history_anima:hover ~#historyMsg, .hot_anima:hover ~#hotMsg{
  opacity: 1;
  transition-duration: 0.5s;
}

a {
  text-decoration: none !important;
}

/* 菜单 */
.header-area {
  background-color: #fbffff;
  box-shadow:  8px 8px 16px #b8bdc0,
               -8px -8px 16px #ffffff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  left: 2px;
  right: 2px;
  height: 13vh;
}
/* 左边的冬奥小屋图标 */
.logologo {
	margin-left:40px;
    line-height: 13vh;
    float: left;
}

.logo1{
  height:3.5vw
}

.logo2{
  height: 4vw;
}

/* 右边的四个选择菜单 */
.nav {
  float: right;
  margin-top: 5vh;
  position: relative;
  z-index: 300;
}
/* 四个菜单之间的距离 */
.nav li {
	margin-right:2vw;
}
/* 四个选项 冬奥信息馆等... */
.nav li a {
  font-weight: 700;
  font-size: 1.5vw;
  color: #595959;
  line-height: 6vh;
  letter-spacing: 1.2px;
}

/* 鼠标放上菜单字体颜色改变 */
.nav li:hover a{
  color: #3141d8d8!important;
}
/* 菜单对应小图标样式 */
.nav img{
	width:2.9vw;
	height:2.9vw;
	margin-right:2px;
}