body{
	font-family:sans-serif;
}

body::-webkit-scrollbar{
	display: none;
}

p{
	font-size:20px;
	font-weight:700;
	margin-top:10px;
	margin-bottom:4px;
	color:#d6d6d6;
}

.container_bg{
    border-radius: 40px;
    background-color:#f6f6f6;
    width: 94vw;
    margin-left: 23px;
    height: 820px;
    overflow: hidden;
    background: url(../images/bg10.png) center center no-repeat;
    background-size: 100%;
}

.snowSport_container{
    width: 100%;
    height: 100%;
}

.snowSport_container::-webkit-scrollbar{
    display: none;    
}
	
#wordcloud1{
    width:50vw;
    height:150px;
    margin-left: 10vw;
    margin-top: -5vw;
}

#economicValueOfAthletes{
    width:32vw;
    height:650px;
    margin-left: -10vw;
}

#sponsor_tendency{
    width: 25vw;
    height:300px;
    margin-left: 3vw;
}

.card2{
	width:400px;
	height:400px;
    margin-left: 10vw;
	margin-top:-100px;
	padding:10px 0;
	border-radius: 30px;
	overflow:hidden;
	display: flex;
	flex-direction: column;
}
.card2_title{
	margin: 0 auto;
	color: gray;
	font-size: 21px;
	font-weight: 600;
}
.card2_itemTitle, .introTitle{
	color:cornflowerblue;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 15px 0px 0px 10px;
}
.card2_items, .introItem{
	background-color: white;
	border: 1px solid #969bb7;
	color: #969bb7;
	font-weight: 550;
    font-size: 0.9rem;
	width: 100%;
	border-radius: 10px;
	padding: 5px 5px;
	margin: 5px 0 0 30px;
}

.snowSport_container_1{
    margin-top: -30px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.snowSport_container_2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.snowSport_container_5{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.sampleAthletes{
    height: 165px;
    width: 175px;
}
.sampleAthletes img{
    width: 100%;
    border-radius: 10%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#container {
	position:relative;
	height: 150px;
    width: 160px;
}

#container > div {
	position:absolute;
	left:0;
	top:0;
	height: 170px;
    width: 170px;
	-webkit-transition:1s ease-in-out;
	-moz-transition:1s ease-in-out;
	transition:1s ease-in-out;
}

#container > div.back1,
#container > div.back2,
#container > div.back3,
#container > div.back4{ 
    /* box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3); */
    border-radius: 10%;
    display: flex;
    align-items: center;
	-moz-backface-visibility:hidden;
	-webkit-backface-visibility:hidden; 
	backface-visibility:hidden;
	-moz-transform:perspective(800px) rotateY(180deg);
	-webkit-transform:perspective(800px) rotateY(180deg);
	transform:perspective(800px) rotateY(180deg);
}

.back1{
    background-image: linear-gradient(to left ,#A1C4FD, #c2e9fb);
}

.back2{
    background-image: linear-gradient(to left ,#f89bb0, #ffd9ae);
}

.back3{
    background-image: linear-gradient(to left ,#8E9EAB, #cbdbe1);
}

.back4{
    background-image: linear-gradient(to left ,#bc8cd1, #FBC2EB);
}

.back1 p:first-child,
.back2 p:first-child,
.back3 p:first-child,
.back4 p:first-child{

    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 15px 15px 15px 0;
}

.backName{
    color: rgb(255, 255, 255);
    width: 20px;
    border-radius: 1px solid black;
    font-size: 22px;
}

.backName2{
    color: rgb(255, 255, 255);
    width: 20px;
    border-radius: 1px solid black;
    font-size: 18px;
}
#container > div.front {
	-moz-backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-transform:perspective(800px) rotateY(0deg);
	-webkit-transform:perspective(800px) rotateY(0deg);
	transform:perspective(800px) rotateY(0deg);
}

#container:hover > div.back1,
#container:hover > div.back2,
#container:hover > div.back3,
#container:hover > div.back4 {
	-moz-transform:perspective(800px) rotateY(0);
	-webkit-transform:perspective(800px) rotateY(0);
	transform:perspective(800px) rotateY(0);
}

#container:hover > div.front {
	-webkit-transform:perspective(800px) rotateY(-179.9deg);
	-moz-transform:perspective(800px) rotateY(-179.9deg);
	transform:perspective(800px) rotateY(-179.9deg);
}

.introduce{
    display: flex;  
    flex-direction: column;
}

.text_box1{
    display: flex;
    flex-direction: column;
    margin-top: -5vw;
    align-items: center;
    justify-content: space-evenly;
}

.text_box2{
    display: flex;
    flex-direction: column;
    margin-top: -4vw;
    align-items: center;
    justify-content: space-evenly;
}

.text_box3{
    display: flex;
    flex-direction: column;
    margin-top: -5vw;
    align-items: center;
    justify-content: center;
}

.text_box4{
    display: flex;
    flex-direction: column;
    margin-top: -4vw;
    align-items: center;
    justify-content: center;
}

.name, .name2{
    height: 34px;
    margin-top: 5px;
    margin-left: 30px;
    font-size: large;
    font-weight: 600;
    padding: 0px 10px;
    background-image: linear-gradient(to left,#A1C4FD, #C2E9FB);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    color: #ffffff;
}
.name:hover,.name2:hover{
    color: #000000;
    background-image: linear-gradient(to left,#ffffff,#ffffff);
}
.name2{
    height: 32px;
    margin-top: 5px;
    margin-left: 5px;
}

.hot_cn_athlete_top8{
    margin-top:0px;
	margin-left:-150px;
    width: 290px;
    height:350px;
	padding-left:10px;
    border-radius: 5%;
}
.hot_cn_athlete_top8 div{
    text-align: center;
    width: 90%;
    border-radius: 20px;
    color: cornflowerblue;
    font-size: 20px;
    font-weight: 800;
    margin: -7% auto 0 auto;
}
.hot_cn_athlete_top8 ul{
    list-style: none;
    font-size: 17.5px;
    margin-top: 10px;
}
.hot_cn_athlete_top8 li{
    padding: 5px 5px;
    margin: 0  5%  2%  -10%;
    border: 1px solid #969bb7;
    text-align: center;
    border-radius: 10px;
    background-color: white;
	 opacity:0.8;
    /* background-image: linear-gradient(white,lightblue); */
    color: #969bb7;
    font-weight: 800;
}

#test1, #test2, #test3,#test4{
    width: 100vw;
    height: 72vw;
    margin-top: -30px;
    background-color: #282936;
    opacity: 0.5;
    display: none;
    position: absolute;
    top: 0px;
    left: 0vw;
}

#medals_1994, #medals_1998, #medals_2002, #medals_2006{
    display: flex;
    flex-direction: row;
    height:32vw;
    width:55vw;
}

#medals_1994 img, #medals_1998_con img, #medals_2002_con img,#medals_2006_con img{
    width: 220px;
    height: fit-content;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#medals_1994_con, #medals_1998_con, #medals_2002_con,#medals_2006_con{
    display: none;
    position: absolute;
    top: 8vw;
    left: 19vw;
    width: 60vw;
    height: 33vw;
    padding-top: 5vw;
    background-color:#edf9ff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.42);
    background-image: radial-gradient(circle,#c4dfff 20%,#edf9ff 30%,#edf9ff 50%);
    border-radius: 20px;
    overflow: visible;
}
.buttonX{
    position: relative;
    margin-top: -72vw;
    margin-left: 57vw;
    font-size: 1rem;
    border:3px solid rgba(0,0,0,0.42);
    color: rgba(0,0,0,0.42);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
}

/* 返回主页和查看更多的按钮 */
button {
 position: relative;
 display: inline-block;
 margin-left:25px;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 margin-top:20px;
 font-size: inherit;
 font-family: inherit;
}
button.return {
 width: 12rem;
 height: auto;
}

button.return .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.return .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.return .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.return .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.return .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}

/* 标题 */
.top img{
	position: absolute;
	top: 0;
	left:52vw;
	height: 180px;
	-webkit-animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-down-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-down-center {
	0% {
	 -webkit-transform: scale(1.1);
	 transform: scale(1.1);
	}
	100% {
	 -webkit-transform: scale(1);
	 transform: scale(1);
	}
}

/*切换页面*/
.page{
	width: 45px;
	height: 820px;
	margin-top: 20px;
	float: right;
	position: flex;
	flex-direction: column;
}

.page1{
	text-align:center;
	margin-top: 12px;
	width: 45px;
	background: linear-gradient(-45deg, #cfc8f5, #7bafe2);
	border-radius: 0 20px 20px 0;
	float:left
}

.page2{
	text-align:center;
	margin-top: 12px;
	width: 45px;
	background-color:#f6f6f6;
	border-radius: 0 20px 20px 0;
	float:left
}

.page1:hover{
	box-shadow:  7px 7px 7px #ddd9f8,
	             -5px -5px 5px #c8ddf2;
}

.main_page{
    width:99vw;
	height:800px;
	orientation: horizontal;
	display:flex;
}

.container_1{
    width: 95vw;
    height: 800px;
    orientation: vertical;
    display: flex;
}

.container_2{
    width: 65vw;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
}