.title{
	margin-bottom: 1.5vw;
	width: 63vw;
}
.try{
		width:60px;
		height:60px;
		margin-top:-40px;
		margin-left:540px;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform-style: preserve-3d;
        animation: rotation 5s linear infinite;
    }

    @-webkit-keyframes rotation {
        from{
                transform: rotateY(0deg) rotateX(-180deg) rotateZ(-140deg);
        }50%{
                transform: rotateY(360deg) rotateX(-360deg) rotateZ(0deg);
        }to{
                transform: rotateY(360deg) rotateX(180deg) rotateZ(220deg);
        }
}

#button{
	display: none;
	margin-top: 2vw;
	background: linear-gradient(-45deg, #8edcff, #dbe5ff, #dac9f2, #d2fdff);
	background-size: 745% 335%;
	border-radius:2vw;
	padding: 0.5vw 1vw;
	font-size: 1.8rem;
	font-weight: 550;
	color: #ffffff;
	border: none;
	transition: all .5s ease-in-out;
	animation: gradient 5s infinite;
}

.herf{
	height: 1.5rem;
}

@keyframes gradient {
	0% {background-position: 0% 50%; }
	50% {background-position: 100% 50%;}
	100% { background-position: 0% 50%;}
   }

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-decoration: none;
	background-image: url(../images/loadingImg.png);
	background-size: 100% 100%;
}
#loader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column-reverse;
	color: #accbee;
	font: 2.5em sans-serif;
}

progress[value] {
	width: 10em;
	height: 0.3em;
	border: none;
	border-radius: 0.125em;
	background: #e6eeff;
}

progress[value]::-webkit-progress-bar {
	border: none;
	border-radius: 0.125em;
	background: #e6eeff;
}

progress[value]::-webkit-progress-value {
	border: none;
	border-radius: inherit;
	background: linear-gradient(90deg, #e7f0fd, #accbee);
}

progress[value]::-moz-progress-bar {
	border: none;
	border-radius: inherit;
	background: linear-gradient(90deg, #e7f0fd, #accbee);
}

progress[value]::-ms-fill {
	border: none;
	border-radius: inherit;
	background: linear-gradient(90deg, #e7f0fd, #accbee);
}

output:not(:empty) {
	padding-bottom: 0.5em;
}

output:not(:empty):after {
	content: '%';
}